@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");

:root {
  --background: white;
  --text: rgb(42, 76, 128);
  --red: rgb(249, 85, 117);
  --teal: rgb(71, 213, 186);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background: var(--background);
  color: var(--text);
  font-size: 14px;
  margin: 0;
  padding: 24px;
}

h2 {
  font-size: 48px;
}

p {
  margin-top: 0;
  font-size: 12px;
}

.App {
  font-family: sans-serif;
  padding: 24px;
}

.lotterycontainer {
}

.lottery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  transform: translate(0px, 40%);
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo {
  flex-grow: 1;
  text-align: left;
}

.logo svg {
  width: 48px;
  height: 48px;
}

.button {
  border: 1px solid var(--text);
  padding: 12px 24px;
  border-radius: 32px;
  color: var(--text);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--text);
  color: white;
}

.spinnercontainer {
  text-align: center;
  height: 100vh;
  transform: translate(0%, 40%);
}

.spinner {
  margin: auto;
  background: white;
  border-radius: 50%;
  padding: 0;
  border: 20px solid var(--text);
  border-top-color: var(--red);
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.winners,
.winner {
  max-width: 480px;
  padding-top: 24px;
}

.winner {
}

.winner__number {
  margin: 6px;
  background: var(--red);
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  color: white;
  font-weight: 900;
  position: relative;
  animation: scale 0.5s ease;
  text-transform: uppercase;
}

.winner__number--large {
  padding: 32px 64px;
  font-size: 48px;
  border-radius: 16px;
}

.winner__number--teal {
  background: var(--teal);
}

.winner__number:before,
.winner__number:after {
  content: "";
  position: absolute;
  background: white;
  width: 16%;
  height: 32%;
  border-radius: 50%;
  margin-top: -9%;
}
.winner__number:before {
  left: 0;
  top: 50%;
  margin-top: -9%;
  margin-left: -8%;
}

.winner__number:after {
  right: 0;
  top: 50%;
  margin-right: -8%;
}

.reset {
  border: 0;
  padding: 24px;
  background: transparent;
}

.modal__img-wrap:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/186499/bg.svg");
  height: 100%;
  width: 100%;
  background-size: 63%;
  z-index: 0;
  opacity: 0.08;
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
